.container {
    padding: 16px;
}
.chart-section {
    display: flex;
}
.chart-section-bottom {
    margin-top: 24px;
    margin-bottom: 16px;
}
@media (max-width: 1020px) {
    .chart-section {
        flex-direction: column;
    }
    .chart-section-bottom {
        margin-top: 0;
    }
}