.container {
    height: 88px;
    position: sticky;
    display: flex;
    background: #fff;
    padding: 0 0 0 16px;
    justify-content: space-between;
    top: 0;
    z-index: 3;
}
.subcontainer {
    display: flex;
    align-items: center;
}
.logo {
    height: 32;
    width: 120;
}
.user-card {
    margin-left: 33px;
    padding: 16px;
    display: flex;
    align-items: center;
}
.user-card:hover {
    background-color: #e8e9e9;
}
.user-icon {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(145, 145, 145,0.1);
    margin-right: 16px;
    composes: dkS16W700 from "src/styles/typo.css";
    color: #000;
}
.user-info {
    width: 146px;
    margin-right: 10px;
}
.name {
    line-height: 24px;
    composes: dkS16W700 from "src/styles/typo.css";
}
.location {
    composes: lgS12W400 from "src/styles/typo.css";
}
.icon {
    color: #333;
}
.search-form {
    position: relative;
    margin-right: 34px
}
.search-input {
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 4px;
    width: 296px;
    height: 56px;
    padding: 0 16px;
    composes: lgS14W400 from "src/styles/typo.css";
}

.search-button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
}

.search-icon {
    display: inline-block;
    color: #333;
    font-size: 22px;
    position: absolute;
    right: 16px;
    top: 26%;
}

.icon-right-container {
    margin-right: 34px;
    position: relative;
}

.icon-right-container:hover {
    background-color: #e8e9e9;
}

.icon-right {
    display: inline-block;
    color: #333;
    font-size: 22px;
}

.badge {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: #c25b3a;
    position: absolute;
    top: -6px;
    right: -8px;
}

::-webkit-input-placeholder {
    color: #9c9c9c;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    letter-spacing: 0.25px;
}
::-moz-placeholder {
    color: #9c9c9c;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    letter-spacing: 0.25px;
}
:-ms-input-placeholder {
    color: #9c9c9c;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    letter-spacing: 0.25px;
}
:-moz-placeholder {
    color: #9c9c9c;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    letter-spacing: 0.25px;
}
@media (max-width: 1020px) {
    .user-card, .search-form {
        display: none;
    }
}